@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100;1,100&display=swap');


@import "statics" ;
@import "animation";
@import "header";
@import "home";
@import "work";
@import "timeline";
@import "services";
@import "testmonial";
@import "contact";
@import "footer";
@import "mediaquery.scss";

*{
    margin:0%;
    padding:0%;
    font-family: $text2;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    background-color: $color1;
    overflow-x: hidden;
}
.disableBtn{
    color:$color6!important;
    background-color: rgb(237,237,237)!important;
    cursor: not-allowed !important;
}